.tittle{
    display: flex;
    margin: auto;
    padding: 0;
    color: aliceblue;
    background-color: #695442;
    width: 100%;
    justify-content: center;
}

body{
    background-color: black;
}

.section1{

    width: 50%;
    float: right;
    margin-top: 60px;

}

img{
    width: 10%;
    margin-top: 20px;
    margin-left: 350px;
}

